@tailwind base;

@tailwind components;

@tailwind utilities;

/* --------------------------- */
/* CUSTOM CSS*/
/* --------------------------- */

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: theme("colors.myGrey.background");
  color: theme("colors.myGrey.secondary");
}

header {
  background-color: theme("colors.myGrey.background");
}
footer {
  background-color: theme("colors.myGrey.background");
}

/* Avoids within-page links to jumped the content right at the very top of the viewport, below the fixed header */
.filtered-group::before {
  display: block;
  content: " ";
  margin-top: -250px;
  height: 250px;
  visibility: hidden;
  pointer-events: none;
}
/* *********** */
